.section h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #291507;
}

.section {
    max-width: 85%;
    margin: auto;
    padding: 50px 100px 70px;
}

header {
    background-image: url(../assets/img/HeroImagelg.png);
    padding: 120px 100px 150px !important;
    border-radius: 42px 42px 0px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header img {
    filter: brightness(0) invert(1);
}

header h4 {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    margin: 15px auto 40px;
}

header .text {
    max-width: 389px;
    margin-left: 0;
    position: relative;
}

input.form-control {
    border: 0;
    border-radius: 59px 0 0 59px !important;
    padding: 1rem 2rem !important;
}

span#inputGroup-sizing-lg {
    background-color: white;
    border: 0;
    border-radius: 0 59px 59px 0;
}

.form-control:focus {
    border: 0 !important;
    box-shadow: none !important;
}

.section.most-search {
    background-color: #E3E1DC;
    border-radius: 0px 0px 42px 42px;
}

.section hr {
    max-width: 60px;
    height: 4px;
    background-color: #4D270C;
    opacity: 1;
    border-radius: 17px;
}

.section a {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(41, 21, 7, 0.6);
    text-decoration: none;
}

.section a:hover {
    color: #4D270C;
}

.section.most-search .cats {
    padding-top: 3rem;
}

.section.most-search .cats a {
    max-width: 240px;
}

.section.most-search .cats .cat img {
    border-radius: 23px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.section.most-search .cats .cat:nth-child(1) img {
    box-shadow: -26px 0px 0px -13px rgb(222 198 139);
}

.section.most-search .cats .cat p {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #291507;
    margin-top: 1rem;
}

.section.why-have-cats img {
    margin: 14px;
    object-fit: cover;
    border-radius: 20px;
}

.section.why-have-cats p {
    margin: 2rem auto 3rem;
}

.section.why-have-cats > div > div > div > img:nth-child(1) {
    max-width: 270px;
    width: 90%;
}

.section.why-have-cats > div > div > div > img:nth-child(2) {
    max-width: 195px;
    width: 90%;
}

section.why-have-cats > div > div > div:nth-child(2) > img {
    max-width: 238px;
    width: 90%;
}

.input-group.large {
    display: flex;
}

.input-group.small {
    display: none;
}

header .logo-desktop {
    display: flex;
}

header .logo-mobile {
    display: none;
}

.modal-header {
    border: none !important;
    padding-bottom: 0 !important;
}

.results {
    background-color: white;
    max-height: 200px;
    overflow-y: scroll;
    margin-top: 1rem;
    border-radius: 24px;
    position: absolute;
    width: 95%;
    padding: 1rem;
}

.results.mobile {
    top: 100px;
    border-radius: 0 0 24px 24px;
    width: 100%;
}

.results.mobile .result {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: rgba(41, 21, 7, 0.6);
    text-decoration: none;
}

.results .result {
    padding: 1rem;
    border-radius: 12px;
}

.results .result:hover {
    background: rgba(151, 151, 151, 0.1);
    color: black;
}

@media (max-width: 1024px) {
    .section.why-have-cats > div {
        flex-direction: column;
    }

    .section.why-have-cats > div > div {
        width: 100%;
        justify-content: center;
    }

    .section.why-have-cats > div > div:nth-child(2) {
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 580px) {
    header {
        padding: 2rem;
    }

    header .text img {
        width: 60px;
    }

    header .text h4 {
        font-size: 12px;
        margin: 15px auto 20px;
    }

    header .text {
        max-width: 60%;
    }

    input.form-control {
        padding: 0.5rem 0.5rem 0.5rem 1rem !important;
    }

    .input-group.large {
        display: none;
    }

    .input-group.small {
        display: flex;
        max-width: 120px;
    }

    .section {
        padding: 2rem !important;
        max-width: 89%;
    }

    .section.most-search h2 {
        font-size: 18px;
        line-height: 22px;
    }

    .section .more {
        display: none;
    }

    .section.most-search .cats a {
        max-width: 155px;
        padding: 0 !important;
    }

    .section.most-search .cats {
        padding-top: 1rem;
    }

    .section.most-search .cats .cat p {
        font-size: 12px;
    }
    .section h6 {
        font-size: 12px;
    }

    .section.why-have-cats p {
        font-size: 18px;
        margin: 2rem auto 1.3rem;
    }

    .section.why-have-cats h2 {
        font-size: 40px;
        line-height: 49px;
    }

    .section.why-have-cats {
        padding: 2rem 0 !important;
    }

    .section.why-have-cats a {
        font-size: 12px;
        line-height: 15px;
    }

    header .logo-desktop {
        display: none;
    }

    header .logo-mobile {
        display: flex;
    }
}